<!doctype html>
<html>
   <head>
      <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
   </head>
   
   <body>
      <h1>To begin enter your address</h1>
      <form action = "http://localhost:5000/mainForm" method = "POST">
          <p>Address <input  type="text" name="Address"/></p>
          <p>City <input  type="text" name="City"/></p>
          <p>State <input  type="text" name="State"/></p>
          <p>ZIP <input  type="text" name="ZIP"/></p>
          <input type = "submit" value = "Next" >
      </form>
   </body>
</html>