<!doctype html>
<html>

<h1 style="font-size: 40px; text-align: center;">Development Consent Admissions</h1>
<h1 style="font-size: 25px; text-align: center;">LEGEND/KEY FOR DATA:</h1>
<h1 style="font-size: 20px; text-align: center;"> - ref = Reference Code</h1>
<h1 style="font-size: 20px; text-align: center;"> - devtype = Development Type</h1>
<h1 style="font-size: 20px; text-align: center;"> - squareMeters = Square Meters Code</h1>

   <body>
         {% for value in data %}
&nbsp;
            <table style="float:center" border = 1>
            {% for key, value in value %}
               {% if key == "ref" %}
               <tr>
                  <th> {{ key }} </th>
                  <td><a href="http://localhost:5000/view/{{value}}"> {{ value }}</a></td>
               </tr>
               {% else %}
               <tr>
                  <th> {{ key }} </th>
                  <td> {{ value }} </td>
               </tr>
               {% endif %}
            {% endfor %}
&nbsp;
            </table>
         {% endfor %}
   </body>

<style>
</style>


</html>
