<!doctype html>
<html>
  <style>
    .error {
      background-color: red;
    }

    .normal {
      background-color: green;
    }
  </style>
   <body>
     {% if errorFound %}
      <h1>Unsuccessful</h1>
      {% else %}
      <h1>DONE</h1>
     {% endif %}



   <h3>REFERENCE NUMBER: {{ref}}</h3>
      <table border = 1>
         {% for key, value in result.items() %}
            <tr class="{{ error[key] }}">
               <th > {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
        {% if errorFound %}
          <button onclick="goBack()">Go Back</button>
        {% endif %}

   </body>


<script>
function goBack() {
  window.history.back();
}
</script>
</html>
