<html>
    <head>
    </head>

    <body>

        <h1 class="welcome">ALEP</h1>

        <div class="description">
            <p>
                Welcome to ALEP (Automated Local Environmental Plan). This is the place for submitting
                local development plans. 
            </p>
        </div>

        <div class="select">
            <div class="goto">
                <Label>Click the button below to submit a development form.</Label>
                <br/>
                <form action="http://localhost:5000/submitForm" method='post'>
                    <input type="submit" value="Submit Form">
                </form>
            </div>
            <br/>
            <div class="goto">
                <Label>Click the button below to log in as a City Planner.</Label>
                <br/>
                <form action="http://localhost:5000/loginPlanners" method='post'>
                    <input type="submit" value="City Planner Login">
                </form>
            </div>
        </div>
    </body>
</html>