<!doctype html>
<html>
   <head>
      <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
   </head>

   <body>
      <h1>FORM</h1>

      <div class="">
         <p>Reference Number: {{ refNum }} </p>
      </div>

      <div class="">
         <p>Address: {{ address }} </p>
      </div>

      <form>

          <div class = "">
            <p>1. Identify development type
               <select name = "devtype" id = "devtype">
                     <option>Please select an option...</option>
                     <option value="Neighbourhood Centre">Neighbourhood Centre</option>
                     <option value="Local Centre">Local Centre</option>
                     <option value="Mixed Use">Mixed Use</option>
                     <option value="Business Development">Business Development</option>
                     <option value="Enterprise Corridor">Enterprise Corridor</option>
                     <option value="Environmental Conseervation">Environmental Conseervation</option>
                     <option value="Environmental Management">Environmental Management</option>
                     <option value="General Industrial">General Industrial</option>
                     <option value="Light Industrial">Light Industrial</option>
                     <option value="General Residential">General Residential</option>
                     <option value="Low Density Residential">Low Density Residential</option>
                     <option value="Medium Density Residential">Medium Density Residential</option>
                     <option value="High Density Residential">High Density Residential</option>
                     <option value="Public Recreation">Public Recreation</option>
                     <option value="Private Recreation">Private Core</option>
                     <option value="Primary Production">Primary Production</option>
                     <option value="Rural Landscape">Rural Landscape</option>
                     <option value="Primary Production Small Lots">Primary Production Small Lots</option>
                     <option value="Village">Village</option>
                     <option value="Speical Activites">Speical Activites</option>
                     <option value="Infranstructure">Infranstructure</option>
                     <option value="Tourist">Tourist</option>
                     <option value="Recreational Waterways">Recreational Waterways</option>
                     <option value="Primary Production Small Lots">Primary Production Small Lots</option>
                     <option value="Other">Other</option>
               </select>
            </p>
         </div>

         <div class = "" id = "otherArea" style = "display:none">
            <Label>What are you building? Could you describe what you are building?</Label>
            <blk/>
            <textarea rows = 5 cols = 40 id = otherTextArea></textarea>
            <blk/>
         </div>

          <div class = "">
            <p>2. Height <input name = "height" id = "height"/></p>
          </div>

          <div class = "">
             <p>3. Square meters <input name="squareMeters" id = "squareMeters"/></p>
          </div>
          <input type = "submit" value = "Submit" id = "submit">
      </form>
   </body>

   <!--"http://localhost:5000/confirm/{{refNum}}" method = "POST"-->

   <script type="text/javascript">

      function validData() {

         //development type
         var choosen = $("#devtype").val();
         var height = $("#height").val();
         var squareMeters = $("#squareMeters").val();

         if (choosen == "Please select an option...") {
            // Error message
            return false;
         } 

         if (choosen == "Other" && $("#otherTextArea") == "") {
            // Error message
            return false;
         }

         if (height == "") {
            // Error message
            return false;
         }

         if (squareMeters == "") {
            // Error message
            return false;
         }
         return true;
      }

      function sendData() {
         $.ajax({
                url: '/mainForm',
                data: $('form'),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
      }

      $("#devtype").change(function() {
         var choosen = $("#devtype").val();

         if (choosen == "Other") {
            $('#otherArea').css("display", "block");
         } else {
            $("#otherArea").css("display", "none");
         }
      });
      
      $("#submit").click(function() {
            
            console.log(validData())
            //if (checkValid()) {
            //   sendData();
            //}
            //Remove this later
            console.log("data sent")
        });
   </script>
</html>